langchain
langgraph
gpt4all
langchain-community
langchain-nomic
tiktoken
langchainhub
chromadb
langchain
langgraph
gpt4all
langchain-community
tavily-python
fastembed
langchain_groq
fastapi
beautifulsoup4  
uvicorn
requests
pydantic
fastembed